html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: #000000;
  background: #ffffff;
  max-width: 85%;
  margin: auto;
}

.header {
  width:85%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.head {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 74px;
  text-align: center;
  letter-spacing: 3px;
  color: #4E937A;
  font-weight: 900;
}

.headshot-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.headshot {
  margin-right: 10px;
  border-radius: 15px;
}

.blurb {
  margin-left: 10px;
}

.center {
    text-align: left;
    font-size: 46px;
    margin: 0px;
}

.flash-text {
  height: 30px;
}

.headshot img {
  height: 300px;
}

.contact-bar {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.contact {
  margin: 0px 10px;
}
/* email, twitter, instagram icons */
.contact-icon {
  height: 50px;
  transition: transform .8s ease-in-out;
}

.contact-icon:hover {
  transform: rotate(30deg);
}

nav {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;x
}

ul {
  display: block;
}

li {
  display: inline-block;
  border-bottom: 5px;
  color: #4E937A;
  margin-left: 1em;
  margin-right: 1em;
  padding: 6px;
  font-weight: 900;
}

.selected {
  background: #E5F9E0;
  border-radius: 10px;
}
#work {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: space-evenly;
}

#play {
  display: none;
  height: 100%;
}

#about {
  display: none;
  height: 100%;
}

.item {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

div.imageContainer {
  width: 330px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}

div.blurbContainer {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

div.imageContainer img, div.imageContainer video {
  width: 100%;
  height: 220px;
  object-fit: cover;
};

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  color: #4E937A;
}

.collapsible:after{
  content: '\002B';
}

.active:after {
  content: "\2212";
}

.collapse {
  width: 330px;
}

.btn.collapsible {
  color: #4E937A;
  font-size: 1.5rem;
  box-shadow: unset;
}

p.hed {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}


/* === Caption styles === */

/* media queries begin here*/

@media screen and (max-width: 1160px) {
  #work {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  #work {
    grid-template-columns: repeat(1, 1fr);
  }
}
